body{
    background-image: url(./BvbLogo.jpg);
    margin: 250px;
}
header, nav{
    color:rgb(141, 7, 7);
    background-color:lightslategray;
    font-size:xx-large;
    padding: 8px;
}
#bvb{
    padding-top:0px;
    text-align:center;
}
nav, h1{
    color:rgb(88, 7, 7); 
    margin:0px;
    padding-top:0px;
    padding-bottom:0px
}
h1{
    padding-bottom: 5px;
    padding-left: 10px;
}
.text{
    background-color:lightslategray;
    margin: 20px;
    padding-left: 20px;
    padding-bottom:15px;
}
.bar{
    padding-top:0px;
    width:100%;
    height:220px;
}
img{
    border-width: 25px;
    border-style: groove;
    border-color: rgba(158, 28, 28, 0.651);
}
#previous{
    width:400px;
    float:right;
}
#current{
    width:400px;
    float:left;
}
#singles{
    width:400px;
    float:right;
}
#albums{
    width:400px;
    float:left;
}

